* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(150, 151, 153);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #5d4954;
  margin: auto;
  overflow: auto;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 72vh;
    top: 58vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.nav-active {
  transform: translateX(0%);
}
.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  padding-left: 5%;
  font-size: 17px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 17px;
}
/* End of Navbar */

/*sidebar icon */
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-hidden {
  display: none;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* End of Sidebar */

.Note10 {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  float: center;
  flex-direction: column;
  position: relative;
  max-width: 35%;
  padding-bottom: 49px;
  justify-content: flex-end;
}

.OnePlus {
  display: flex;
  flex-wrap: wrap;
  float: left;
  border-style: solid;
  max-width: 35%;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  height: 39.4vh;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#Note10 {
  float: left;
  padding: 30px;
}

#S10 {
  float: left;
  padding: 30px;
}

#PT {
  padding: 10px;
}

#Pixel4 {
  padding: 10px;
}

#N10 {
  padding: 10px;
}

#G10 {
  padding: 10px;
}

#OP7 {
  padding: 10px;
}

#i11 {
  padding: 10px;
}

#H {
  padding: 10px;
}
/* Galaxy S20 Ultra Home Page */
#S20 {
  float: left;
  padding: 10px;
}
/* Huawei P40 Pro+ Home Page */
#H40 {
  float: left;
  content: "";
  clear: both;
  display: table;
}

#P40 {
  float: left;
  padding: 10px;
}

#others {
  float: left;
  content: "";
  clear: both;
  display: table;
}

#R10 {
  float: left;
  content: "";
  clear: both;
  display: table;
  padding: 10px;
}

#Apple {
  float: left;
  content: "";
  clear: both;
  display: table;
}

#R11 {
  float: left;
  content: "";
  clear: both;
  display: table;
  padding: 10px;
  width: 33.33%;
}
